%html
  %head 
    :css
      body 
      {
        font-family: Tahoma, sans-serif;
        font-size: 11pt;
      }
      h1, h2 { font-weight: normal; }
      .description {
        font-size: smaller;
        margin-bottom: 4pt;
        margin-left: 10pt;
        max-width: 500px;
      }
      .people
      {
        font-size: 7pt;
        font-weight: bold;
      }
      .story { background-color: }
  %body
  %h1 #{@stories.count} Stories Live since #{@start_date}
- for label in @labels.keys.sort
  .label
  %h2= Story.human_format(label)
  - for sid in @labels[label]
    .story
    %a{:href => @stories[sid].url, :target=>'_blank'}= @stories[sid].title
    .people [#{@stories[sid].accepted_at.strftime("%a %m/%d")}] requested by #{@stories[sid].requested_by} on #{@stories[sid].created_at.strftime("%b %d")}
    .description #{@stories[sid].description}