%h1{:class=>'title'}
  Project Status

%table.work
  %tr
    %td{:colspan=>4}
      %h2 Current: #{@current_stories.count} stories, #{@current_points} points
  %tr
    %th Status
    %th Owner
    %th Points
    %th 
  - for story in @current_stories.sort{|a,b| Story.status_sort(a,b)}
    %tr
      %td #{story.friendly_state} 
      %td #{story.owned_by} 
      %td #{story.estimate} 
      %td 
        %span{:title=>"last updated: #{story.updated_at.strftime("%b %d")}"}
        #{friendly_title(story)}
  - if @next_up_stories.count > 0
    %tr
      %td{:colspan=>4}
        %h2 Coming Soon: #{@next_up_stories.count} stories, #{@next_points} points
    %tr
      %th Complete
      %th Owner
      %th Points
      %th 
    - for story in @next_up_stories
      %tr
        %td #{story.estimated_date.strftime("%b %d")}
        %td #{story.owned_by} 
        %td #{story.estimate}
        %td 
          %span{:title=>"last updated: #{story.updated_at.strftime("%b %d")}"}
          #{friendly_title(story)}
  %tr
    %td{:colspan=>4}
      %h2 Backlog: on the schedule
  %tr
    %th Complete
    %th Owner
    %th Points
    %th 
  - for story in @backlog_stories
    %tr
      %td 
        %span{:title=>"Estimated 'code complete'"} #{story.estimated_date.strftime("%b %d")}
      %td #{story.owned_by} 
      %td #{story.estimate}
      %td 
        %span{:title=>"last updated: #{story.updated_at.strftime("%b %d")}"} 
        #{friendly_title(story)}
  %tr
    %td{:colspan=>4}
      %h2 Icebox: not yet scheduled
  %tr
    %th
    %th Owner
    %th Points
    %th 
  - for story in @icebox
    %tr
      %td
      %td #{story.owned_by} 
      %td #{story.estimate}
      %td 
        %span{:title=>"last updated: #{story.updated_at.strftime("%b %d")}"}
        #{friendly_title(story)}

%br
%span 
  ( This is the top of the icebox, for the full icebox please log in to 
  %a{:href=>'http://pivotaltracker.com'} Pivotal Tracker
  )

%h2 Recently Logged: #{@recently_logged_stories.count} stories
These stories were logged within the last #{@days_ago} days, and may need to be prioritized
%ul
  - for story in @recently_logged_stories.sort{|a,b| a.created_at <=> b.created_at}
    %li #{story.requested_by} on #{story.created_at.strftime("%b %d")}: #{friendly_title(story)}