%h1{:class=>'title'}
  Project Status
%h2 Current: #{@current_stories.count} stories, #{@current_points} points
%table.work
  - for story in @current_stories.sort{|a,b| Story.status_sort(a,b)}
    %tr
      %th 
    %tr
      %td #{story.estimate}
      %td #{story.friendly_state} 
      %td #{story.owned_by} 
      %td #{friendly_title(story)}
      %td #{story.updated_at.strftime("%b %d")}

%h2 Recently Logged: #{@recently_logged_stories.count} stories
These stories were logged within the last #{@days_ago} days, and may need to be prioritized
%ul
  - for story in @recently_logged_stories.sort{|a,b| a.created_at <=> b.created_at}
    %li #{story.requested_by} on #{story.created_at.strftime("%b %d")}: #{friendly_title(story)}
%h2 Next Up: #{@next_up_stories.count} stories, #{@next_points} points
%table.work
  - for story in @next_up_stories
    %tr
      %th 
    %tr
      %td #{story.estimate}
      %td #{story.friendly_state} 
      %td #{story.owned_by} 
      %td #{friendly_title(story)}
      %td #{story.updated_at.strftime("%b %d")}

%h2 Backlog

